<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="message-body" class="message-body" style="height: 400px; overflow-y: scroll; overflow-x: hidden;">

        <div style="text-align: right;">
            <p style="background-color: lightblue; word-break: break-word; display: inline-block;
                padding: 5px; border-radius: 10px; max-width: 70%;">
                Chat message Here!!!!

            </p>

        </div>
        <div style="text-align: left;">
            <p style="background-color: yellow; word-break: break-word; display: inline-block;
                padding: 5px; border-radius: 10px; max-width: 70%;">
                Chat message Here Form the other user here!!!!

            </p>

        </div>
    </div>

    <div id="online-users"><h3>Online Users</h3>
        <ul>

        </ul>
    </div>
</body>
</html>


